<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <script>
      const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>

    <script src = "/socket.io/socket.io.js" defer></script>

    <script src = "script.js" defer></script>
    <title>Chat Room</title>
    <style>
        #video-grid{
          display: grid;
          grid-template-columns: : repeat(auto-fill, 300px);
          grid-auto-rows: 300px;
        }

        video {
          width: 60%;
          height: 90%;
          object-fit: cover;
        }
    </style>
  </head>
  <header>
  </header>
  <body>
    <div class="container w-100 my-2  border">
      <div class="row">
        <div class="col-sm-6 my-2">
          <div id = "video-grid"></div>
        </div>
        <div class="col">
          <div class="zone_saisie w-100">
            <form id="send-container" class="my-3">
              <div class="form-row" style="bottom: 0;">
                <div class="col">
                  <input id = "message-input"class="form-control" type="text" placeholder="Send a message" autocomplete="off">
                </div>
                <div class="col col-lg-4">
                   <button type="submit" class="btn btn-primary" >Send</button>
                </div>
              </div>
            </form>
            <div id="message-container"></div>
        </div>
      </div>
    </div>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.8.0/simplepeer.min.js" integrity="sha512-E7n4M9VAeElTbAvxzEO92tYsjfg1e0INE+RQLEf3Dpra2EY2X2ygTaGi2NMpccKGY8Q7+npUX68igKUkAammKQ==" crossorigin="anonymous"></script>
  </body>
</html>
